name: Terra SDK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./pyth-sdk-cw
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install libudev-dev
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
  schema-check:
    name: Check schema changes are committed
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./pyth-sdk-terra
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.58.1
          override: true
          components: clippy

      - name: Generate Schema
        run: cargo run --example schema

      - name: Schema Changes
        # fails if any changes not committed
        run: git diff --exit-code schema
